* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*box-sizing: border-box;*/
}

body {
    align-items: center;
    justify-content: center;
    height: max-content;
    background-image: linear-gradient(#ecfdff, #f8d5e8);
}
.container {
    background-color: white;
    width: 50%;
    height: 70vh;
    margin: 10% 25%;
    border-radius: 3%;
}

.topic {
    font-size: 3vw;
    font-weight: bold;
    margin-left: 5%;
    padding-top: 5%;
}

.add-input {
    width: 30%;
    height: auto;
    margin: 5%;
    padding: 1% 3%;
    font-size: 1vw;
    border: 1px solid rgba(102, 100, 100, 0.796);
    border-radius: 15px;
}

.date-input {
    height: 6%;
    padding: 2px;
}


.add-button {
    width: 15%;
    padding: 1%;
    font-size: 1vw;
    border-radius: 15px;
    border: none;
    margin-left: 5%;
    background-color: green;
    color: white;
}

.add-button:hover{
    background-color: rgb(71, 163, 71);
}

.add-button:active{
    background-color: rgb(1, 75, 1);
}